---
layout: common
---

<div class="fp-left">
    <img class="fp-avatar" src="/assets/images/avatar.jpg" onclick="document.location.href='/'" />
    <div class="colum1">
        <!--
        <p><a href="/all.html">全部</a></p>
        <hr />
        <p><a href="/story.html">故事</a></p>
        -->
        <p><a href="/skill.html">技术</a></p>
        <p><a href="/notes.html">笔记</a></p>
        <hr />
    </div>

    <div class="colum2">
        <p><a href="/me.html">ME</a></p>
    </div>
</div>

<div class="fp-right">
    {{ content }}
</div>
