---
layout: common
---

<div class="fp-left">
    <h1 class="fp-title"><a href="/">lazyrobot.me</a></h1>
    <div class="colum1">
        <h3> Posts</h3>
        <p><a href="/story.html">虚构</a></p>
        <p><a href="/note.html">笔记</a></p>
        <p><a href="/code.html">技术</a></p>
    </div>

    <div class="colum2">
        <hr />
        <p><a href="/profile.html">关于我</a></p>
        <p><a href="/subscribe.html">订阅(RSS)</a></p>
    </div>
</div>

<div class="fp-right">
    {{ content }}
</div>
