---
layout: common
---


{% if page.mathjax %}
<script type="text/javascript" async
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
{% endif %}

<article class="post markdown-body">
    <small>{{ page.date | date: "%Y-%m-%d" }}</small>
    
    <div class="post-title">{{page.title}}</div>
    
    {{content}}

    <hr/>

    <div>
    {%- if page.tags.size > 0 -%}
      Tag{%- if page.tags.size > 1 -%}s{%- endif -%}: 
          {% for tag in page.tags %}
              <a href="{{ "tags.html#" | append: tag | relative_url }}" class="tag">{{ tag }}</a>
          {% endfor %}
    {%- endif -%}
    </div>
  
    {% include comments.html %}

    <h6 style="text-align:center"><a href="http://samoyedsun.github.io/">samoyedsun.github.io</a></h6>
</article>

