---
layout: common
---
{% if page.mathjax %}
<script type="text/javascript" async
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
{% endif %}
<script src='https://unpkg.com/mermaid@7.1.2/dist/mermaid.min.js'></script>
<script>mermaid.initialize({startOnLoad:true});</script>
<article class="post markdown-body">
    <small>
        {{ page.date | date: "%Y-%m-%d" }}
    </small>

    <div class="post-title">
        {{ page.title }}
    </div>
    
    {{ content }}

    <hr/>
    {% include comments.html %}
    {% include license.html %}
    <h4 style="text-align:right"><a href="http://samoyedsun.github.io/">samoyedsun.github.io</a></h4>
</article>

        
